#mincon1{
    background-color: #19e68c;
   
    padding-top: 90px;
    padding-bottom: 90px;
}

#button:hover{
    width: 12%;
    height: 50px;
    cursor: pointer;
}

#button{
    margin-left:44%;
    border: 0px;
    height: 45px;
    width: 135px;
    font-size: 15px;
    border-radius: 100px;
    font-weight: bold;
    
}


#img1{
    padding-left: 44%;
    height: 80px;
    width: auto;
    
}

#playmill,#downspot{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
    font-weight: 400;
}
#downspot{
    font-weight: 900;
    font-size: 40px;
    padding: 10px;
    letter-spacing: -1px;
}

#bringyour{
    margin-top: 60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    letter-spacing: -2px;
    font-weight: 800;
}

#listening{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 30px;
}

#mincon2{
    margin-bottom:-50px;
}

#mincon3{
    background-color: #121212;
    padding-top: 100px;
    padding-bottom: 80px;

}

#img2{
    margin-left: 30%;
    height: 200px;
    margin-bottom: -10px;
}

#img01{
    position: absolute;
    margin-left: 47%;
    margin-top: 1.5%;
    height: 40px;
    width: auto;
}

#img02{
    position: absolute;
    margin-left: 47.5%;
    margin-top: 2%;
    height: 25px;
    width: auto;
}

#oneacc{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: -1px;
}

#icon{
    margin-left: 36%;
    height: 200px;
    width: 400;
}
#list{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin-left: 17%;

}

a{
    color: #19e68c;
    font-family: Arial, Helvetica, sans-serif;
}