#mincontainer2{
    display: grid;
    margin: 0 10%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

#container2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px 0px 20px 15%;
    background-color: #eee;
}

.mbody{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0px 16px;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    padding:  10px 16px 29px 16px;
    font-size: 24px;
}
a{
    color: green;
    text-decoration: none;
    /* font-size: 18px; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-bottom: 20px;
}

h2,h4{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

h2{
    font-size: 18px;

}
.copyright a{
    font-weight: normal;
}
#mincontainer2>h2:hover{
text-decoration: underline;
}
a:hover{
    text-decoration: underline;
}
h4{
    font-size:  12px;
    color: rgb(228, 228, 228);
    text-transform: uppercase;
    padding-bottom: 10px;
}
h1{
    font-size: 64px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 80px 0px 30px;
    line-height: 72px;
    letter-spacing: -1px;
}
input{
    width: 60%;
    height: 50px;
    border: 0px;
    border-radius: 5px;
    font-size: 1rem;

}
#mincontainer1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    
}
#container{
   background-image:url(	https://support.scdn.co/web/_next/static/assets/e0b55c2/search-desktop.webp
   )
}
#container{
    background-size: cover;
    padding-bottom: 20px;
}

#container3 p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0px 283px;
    font-weight: 600;
}

#button{
 
   background-color: #1ED760;
   border: 0px;
   border-radius: 50px;
   height: 45px;
   width: 150px;
   margin-left: 44%;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 800;
}
#button:hover{
    width: 13%;
    height: 50px;
    
}